.contact-section {
  background-color: #5956e9;
  padding: 1rem 7rem 0rem 7rem;
}
.background-cont {
  background-color: white;
}
@media (max-width: 991px) {
  .contact-section {
    padding: 1rem;
  }
}
.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav-scroll {
    gap: 2rem;
  }
}
.mini-contents {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.logo-cls:hover {
  cursor: pointer;
}
.left-right-cont {
  display: flex;
  justify-content: space-between;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #0e0e0e;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 991px) {
  .left-right-cont {
    flex-direction: column;
    align-items: center;
  }
}
.mini-contents p {
  color: white;
}
.left-section {
  display: flex;
  gap: 2rem;
}
.icons-sec img {
  transition: 0.3s;
}
.icons-sec img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .left-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.right-section {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 991px) {
  .navbar-nav-scroll {
    height: 200px;
  }
}
.sidebar-container.show {
  right: 0;
}

.nav-link.active {
  color: #5956E9 !important;
}
