.back-to-top .btn-to-top{
  transition: 0.3s;
  width: 5%;
}
.back-to-top .btn-to-top:hover {
  transform: scale(1.1);
}

@media (min-width:620px) and (max-width:991px){
    .back-to-top .btn-to-top{
        width: 7% ;
    }
}
@media (min-width:440px) and (max-width:619px){
    .back-to-top .btn-to-top{
        width: 9% ;
    }
}

@media (min-width:320px) and (max-width:439px){
    .back-to-top .btn-to-top{
        width: 12% ;
    }
}

@media (min-width:0px) and (max-width:319px){
    .back-to-top .btn-to-top{
        width: 14% ;
    }
}