/* Font syle  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

body p {
  color: #808285;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

body h1 {
  font-size: 75px;
  color: white;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}

body h2 {
  color: black;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;

}
body h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;

}
body h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #d2042d;
  text-transform: capitalize;
}

body h5{
  /* font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left; */
  text-transform: capitalize;
}

body h6 {
  color: #d2042d;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: capitalize;

}

textarea{
  resize: none;
}
body a{
  text-decoration: none;
}

@media (max-width:768px){
  body h1{
    font-size: 56px;
  }
  body h2{
    font-size: 40px;
  }
  body h3{
    font-size: 30px;
  }
  body h4{
    font-size: 20px;
  }
}

@media (max-width:420px){
  body h4{
    font-size: 18px;
  }
}